# Configuration file

~CONFIG_VERSION: 0.1.0

world-2018733176 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-337996214 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-619309755 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-78688046 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-843662892 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=ingot
    B:overlayEnabled=true
}


world-84403094 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-856510090 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-91535244 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world127644227 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=кленвы
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1764654614 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1956371597 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world2010616876 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=Apiar
    B:overlayEnabled=true
}


world395664275 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world463513537 {
    # Брать предметы вместо отображения рецепта.
    B:cheatItemsEnabled=false

    # Скрывать и показывать предметы в списке нажатием клавиши по ним.
    B:editEnabled=false
    S:filterText=мфэ

    # Показывать список предметов рядом с открытым интерфейсом.
    B:overlayEnabled=true
}


world50 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world999679768 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


